# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Temporary Files
*.tmp
*.bak

# Project Data
data/

# Local testing
test_folder/